body {
    background-color: #23263b;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.App {
    background-color: #E5E7EB;
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px 15px;
    margin: 50px 30px;
}

.container {
    padding: 5%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.container ul li {
    width: 75%;
    overflow-wrap: break-word;
    list-style-type: "🔔";
    cursor: pointer;
}

.header {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 5em;
    font-weight: 600;
    color: #23263b;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.add-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
}

input {
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    :focus{
        border: 2px solid rgb(124, 138, 255);
    }
}

.done {
    text-decoration: line-through;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-wrap: break-word;
}